<!DOCTYPE html>
	<html>
		<head>
			<title>{{page.title}}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="https://github.com/iBaa/PlexConnect">PlexConnect</a></li>
					<li><a href="https://github.com/iBaa/PlexConnectApp">PlexConnectApp</a></li>
				</ul>
			</nav>
			
			<div>
			{{content}}
			</div>
			
			<footer>
			  <div style="width: 50%; float:left;">
				<ul>
					<!--i><a href="mailto:name@host">email</a></li-->
					<li><a href="https://github.com/iBaa">github.com/iBaa</a></li>
				</ul>
				</div>
				<div style="width: 50%; float:right;">
					<p style="text-align:right;">
					Always remember that Sheep!
					<img 
					  src="https://avatars3.githubusercontent.com/u/4150852?v=3&u=e337c94417c93f1c81d71da22e9cd9485e07e61f&s=140" 
					  alt="TheSheep"
					  style="width:32px;height:32px;"/>
					</p>
				</div>
			</footer>
		</body>
	</html>
